fastapi
uvicorn[standard]
langchain
langchain-community
langchain-ollama
langchain-groq
langchain-huggingface
langchain-chroma
langchain-experimental
pypdf
sentence-transformers
pydantic
pydantic-settings
python-multipart
sqlalchemy
pymysql
cryptography
cachetools
rank_bm25
pytest
httpx
